<style>
    body {
        font-size: 30px;
    }

    h1 {
        margin-top: 0;
    }
</style>

<h1>{{ it.title }}</h1>
<img src="{{ it.imagePath }}" alt="Description of image" width="400" height="auto">
<div><b>PP</b> {{ it.pp }}</div>
<div><b>GP</b> {{ it.gp }}</div>
<div><b>SP</b> {{ it.sp }}</div>
<div><b>CP</b> {{ it.cp }}</div>
<p>
<div><b>Gems:</b> {{ it.gems }}</div>
<p><div><b>Weapons</b> {{ it.weapons }}</div>
<p> <div><b>Gear:</b> {{ it.gear }}</div>
<p><div><b>Potions</b> {{ it.potions }}</div>
<p><div><b>Magical Items:</b> {{ it.magic }}</div>
<p><div><b>Alchemical Items</b> {{ it.alchemical }}</div>
<p><div><b>Misc Items</b> {{ it.misc }}</div>
